<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mjj.services" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.BindServiceActivity" android:label="Bind Service"/>

        <!--android:name　　      服务类名-->
        <!--android:label　　     服务的名字，如果此项不设置，那么默认显示的服务名则为类名-->
        <!--android:icon　　      服务的图标-->
        <!--android:permission　　申明此服务的权限，这意味着只有提供了该权限的应用才能控制或连接此服务-->
        <!--android:process　     表示该服务是否运行在另外一个进程，如果设置了此项，那么将会在包名后面加上这段字符串表示另一进程的名字-->
        <!--android:enabled　　   如果此项设置为 true，那么 Service 将会默认被系统启动，不设置默认此项为 false-->
        <!--android:exported　　  表示该服务是否能够被其他应用程序所控制或连接，不设置默认此项为 false-->
        <service
            android:name=".services.StartService"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.mjj.services.Action.START_SERVICE"/>
                <category android:name="android.intent.category.default"/>
            </intent-filter>
        </service>

        <service
            android:name=".services.BindService"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.mjj.services.Action.BIND_SERVICE"/>
                <category android:name="android.intent.category.default"/>
            </intent-filter>
        </service>
        <service
            android:name=".services.StartAndBindService"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.mjj.services.Action.START_BIND_SERVICE"/>
                <category android:name="android.intent.category.default"/>
            </intent-filter>
        </service>

        <service
            android:name=".services.ForegroundService"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.mjj.services.Action.FOREGROUND_SERVICE"/>
                <category android:name="android.intent.category.default"/>
            </intent-filter>
        </service>

    </application>

</manifest>
